version: "3"
services:
  prisma:
    image: prismagraphql/prisma:1.34
    restart: unless-stopped
    container_name: prisma
    ports:
      - "4466:4466"
    networks:
      - backend
    environment:
      PRISMA_CONFIG: |
        managementApiSecret: my-secret
        port: 4466
        databases:
          default:
            connector: mongo
            uri: mongodb://prisma:prisma@mongo

  mongo:
    image: mongo:3.6
    restart: unless-stopped
    container_name: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: prisma
      MONGO_INITDB_ROOT_PASSWORD: prisma
    networks:
      - backend
    ports:
      - "27017:27017"

  graphql-server:
    build:
      context: ./
      dockerfile: Dockerfile-alternative
      args:
        buildno: 1
    image: requester-backend/requester-backend:1.0
    container_name: graphql
    restart: unless-stopped
    volumes:
      - ${HOME}/dev/requesterr/graphql-server-prisma/prisma:/usr/src/prisma/prisma
      - ${HOME}/dev/requesterr/graphql-server-prisma/src:/usr/src/prisma/src
    depends_on:
      - prisma
    networks:
      - web
      - backend
    ports:
      - 4000:4000
    command: bash -c "yarn generate && yarn prisma generate && yarn prisma deploy && yarn start"

  nginx:
    image: linuxserver/nginx
    container_name: nginx
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Oslo
    volumes:
      - nginx:/config
    networks:
      - web
    ports:
      - 80:80
      - 8080:8080
    restart: unless-stopped

volumes:
  nginx:
    external: true

networks:
  web:
    external: true
  backend:
    external: true
